<div class="chat-page">
  {{>Sidebar}}
  {{!-- если не выбран диалог --}}
  {{!-- <div class="chat__empty">Выберите чат чтобы отправить сообщение</div> --}}
  {{!-- если выбран диалог --}}
  <div class="chat">
    {{>ChatHeader}}
    {{>MessageList}}
    {{>MessageWrapper}}
  </div>
</div>