@import '../../variables.scss';

.profile-avatar__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: 130px;
        height: 130px;
        background: $grey-02-color;
        border-radius: 50%;
        text-align: center;
    }
}

.profile-avatar {
    display: flex;
}

.profile-avatar__name {
    margin-top: 21px;
    margin-bottom: 60px;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
}

.profile-avatar-img__hover {
    display: none;
}

.profile-avatar:hover {
    cursor: pointer;

    .profile-avatar-img__hover {
        border-radius: 50%;
        width: 130px;
        height: 130px;
        position: absolute;
        padding: 33px;
        box-sizing: border-box;
        background: rgb(0 0 0 / 50%);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 13px;
        line-height: 14px;
        color: $white-color;
    }
}
