@import '../../variables.scss';

.button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  color: inherit;
  outline: none;
}

.button__primary {
  width: 280px;
  width: 100%;
  padding: 12px;

  background: $primary-color;
  color: $white-color;
  border-radius: 8px;
}

.button__text {
  font-size: 12px;
  line-height: 12px;
  color: $primary-color;
}
