<button
  class="button{{#if type}} button__{{type}}{{/if}}{{#if stylingMode}} button__{{stylingMode}}{{/if}}"
  page="{{ page }}"
>
  {{ text }}
</button>

{{!-- type: outlined text contained --}}
{{!-- stylingMode: normal success default --}}