<div class="edit-password-page">
  {{>ProfileSidebar page="profile"}}
  <form class="edit-password-form">
    {{>ProfileAvatar name="Ваня" }}
    <div class="edit-password__fieldset">
      {{>UserDataField label="Старый пароль" value="123" name="oldPassword" canEdit="true" }}
      <div class="line"></div>
      {{>UserDataField label="Новый пароль" value="1234" name="newPassword" canEdit="true" }}
      <div class="line"></div>
      {{>UserDataField label="Повторите новый пароль" value="1234" name="newPassword" canEdit="true" }}
    </div>

    <div class="edit-password__button">
      {{>LocalButton text="Сохранить" type="primary"}}
    </div>
  </form>
</div>
