<div class="edit-password-page">
  {{>ProfileSidebar page="profile"}}
  <div class="edit-password-data">
    {{>ProfileAvatar name="Ваня" }}
    <div class="edit-password__fieldset">
      {{>UserDataField label="Старый пароль" value="123" name="oldPassword" }}
      <div class="line"></div>
      {{>UserDataField label="Новый пароль" value="1234" }}
      <div class="line"></div>
      {{>UserDataField label="Повторите новый пароль" value="1234" name="newPassword" }}
    </div>

    <div class="edit-password__button">
      {{>Button text="Сохранить" type="primary"}}
  </div>
</div>

