<div class="edit-data-page">
  {{>ProfileSidebar page="profile"}}
  <div class="edit-data">
    {{>ProfileAvatar name="Ваня" }}
    <div class="edit-data__fieldset">
      {{>UserDataField label="Почта" value="pochta@yandex.ru" name="email" }}
      <div class="line"></div>
      {{>UserDataField label="Логин" value="ivanivanov" name="login" }}
      <div class="line"></div>
      {{>UserDataField label="Имя" value="Иван" name="first_name" }}
      <div class="line"></div>
      {{>UserDataField label="Фамилия" value="Иванов" name="second_name" }}
      <div class="line"></div>
      {{>UserDataField label="Имя в чате" value="Ваня" name="display_name" }}
      <div class="line"></div>
      {{>UserDataField label="Телефон" value="+7 (909) 967 30 30" name="phone" }}
    </div>

    <div class="edit-data__button">
      {{>Button text="Сохранить" type="primary"}}
    </div>
  </div>
</div>

