<div class="edit-data-page">
  {{>ProfileSidebar page="profile"}}
  <div class="edit-data">
    {{>ProfileAvatar name="Ваня" }}
    <div class="edit-data__fieldset">
      {{>UserDataField label="Почта" value="pochta@yandex.ru" }}
      <div class="line"></div>
      {{>UserDataField label="Логин" value="ivanivanov" }}
      <div class="line"></div>
      {{>UserDataField label="Имя" value="Иван" }}
      <div class="line"></div>
      {{>UserDataField label="Фамилия" value="Иванов" }}
      <div class="line"></div>
      {{>UserDataField label="Имя в чате" value="Ваня" }}
      <div class="line"></div>
      {{>UserDataField label="Телефон" value="+7 (909) 967 30 30" }}
    </div>

    <div class="edit-data__button">
      {{>Button text="Сохранить" type="primary"}}
    </div>
  </div>
</div>

