.signup-page {
    width: 100%;
}

.signup-page_buttons {
    display: flex;
    width: 100%;
    max-width: 280px;
    flex-direction: column;
    justify-content: center;
    gap: 14px;
    padding-top: 62px;
}
