<div class="message-wrapper">
  <div class="line"></div>
  <div class="message">
    <div class="message-actions-menu">
      <img src="/static/icons/pin.svg" />
    </div>
    <div class="message-field">
      {{!-- Сообщение --}}
      <input placeholder="Сообщение" name="{{name}}" />
    </div>
    {{>Button icon="arrow-right" type="primary" width="28" height="28" }}
  </di>
</div>
