{{#> Dialog}}
  <form class="login-page">
    <div>
      {{> PageTitle title="Вход"}}
      {{> InputField className="login-page__input" title="Логин" name="login"}}
      {{> InputField className="login-page__input" title="Пароль" name="password"}}
    </div>
    <div>
      {{> Button text="Авторизоваться" page="chat"}}
    </div>
  </form>

{{/ Dialog}}
