<div class="message-field-wrapper">
  <div class="line"></div>
  <div class="message">
    <div class="message-actions-menu">
      {{{ ActionMenuButton }}}
    </div>
    <div class="message-field">
      <input placeholder="Сообщение" name="message" />
    </div>
    {{{ SendButton }}}
  </di>
</div>
