<div class="profile-page">
  {{>ProfileSidebar page="chat" }}
  <div class="user-data">
    {{>ProfileAvatar name="Ваня" }}

    <div class="user-data__fieldset">
      {{>UserDataField label="Почта" value="pochta@yandex.ru" name="email" }}
      <div class="line"></div>
      {{>UserDataField label="Логин" value="ivanivanov" name="login" }}
      <div class="line"></div>
      {{>UserDataField label="Имя" value="Иван" name="first_name" }}
      <div class="line"></div>
      {{>UserDataField label="Фамилия" value="Иванов" name="second_name" }}
      <div class="line"></div>
      {{>UserDataField label="Имя в чате" value="Ваня" name="chat_name" }}
      <div class="line"></div>
      {{>UserDataField label="Телефон" value="+7 (909) 967 30 30" name="phone" }}
    </div>

    <div class="user-data__buttons">
      {{>LocalButton text="Изменить данные" type="text" page="edit"}}
      <div class="line"></div>
      {{>LocalButton text="Изменить пароль" type="text" edit="password" page="password"}}
      <div class="line"></div>
      {{>LocalButton text="Выйти" type="text" page="login"}}
    </div>
  </div>
</div>
