<div
  style="
    {{#if width}}width:{{width}}px;{{/if}}
    {{#if height}}height:{{height}}px;{{/if}}
  "
>
  {{#if icon}}
    <img alt="Кнопка" class="button__icon" src="/static/icons/{{icon}}.svg" />
  {{/if}}
  {{#if text}}
    <div>{{ text }}</div>
  {{/if}}
</div>
