{{#> Dialog}}
  <form class="login-page">
    <div>
      {{> PageTitle title="Вход"}}
      {{> InputField className="login-page__input" title="Логин" name="login"}}
      {{> InputField className="login-page__input" title="Пароль" name="password"}}
    </div>
    <div class="login-page_buttons">
      {{> Button type="primary" text="Авторизоваться" page="chat"}}
      {{> Button type="text" text="Нет аккаунта?" page="signup"}}
    </div>
  </form>
{{/ Dialog}}
