<div class="chat-header__wrapper">
  <div class="chat-header">
    <div class="chat-header__user">
      {{>Avatar size="34"}}
      <span>Имя пользователя</span>
    </div>
    <img src="../../../static/icons/menu.svg" />
  </div>
  <div class="line"></div>
</div>
