@import '../../variables.scss';

.chat-header__wrapper {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    min-height: 55px;
    max-height: 55px;
    height: 55px;
    display: flex;
    flex-direction: column;
}

.chat-header {
    display: flex;
    height: 55px;
    padding: 10px 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.chat-header__user {
    display: flex;
    align-items: center;

    span {
        margin-left: 10px;
        font-weight: 600;
        font-size: 13px;
        line-height: 13px;
    }
}
