<div class="chat-header__wrapper">
  <div class="chat-header">
    <div class="chat-header__user">
      {{{ Avatar }}}
      <span>{{ name }}</span>
    </div>
    <img alt="Меню" src="../../../static/icons/menu.svg" />
  </div>
  <div class="line"></div>
</div>
