<div class="error-page">
  <div class="error-type"> 400</div>
  <div class="error-text">Мы уже фиксим</div>
  <div>
    {{>LocalButton type="text" text="Назад к чатам" stylingMode="default" page="chat"}}
  </div>
</div>
