<div class="sidebar">
  <div class="sidebar-button">
    {{>Button page="profile" text="Профиль >" type="text"}}
  </div>
  {{>SearchPanel placeholder="Поиск"}}
  <div className='sidebar-list'>
    {{>ChatItem message="Привет" unread="2" name="Андрей" time="ср" }}
    {{>ChatItem current="true" message="Привет Привеь" name="Андрей" time="ср" }}
    {{>ChatItem message="Привет Привет Привет" name="Андрей" time="ср" }}
    {{>ChatItem message="Привет"name="Андрей" time="ср" }}
  </div>
</div>