@import '../../variables.scss';

.chat {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: calc(100vw - 310px);
    height: 100%;
}

.chat__empty {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 12px;
    line-height: 12px;
    color: $grey-01-color;
}
