$default-text-color: #1E1E1E;
$grey-01-color: #999999;
$grey-02-color: #EFEFEF;
$grey-03-color: #EAEAEA;
$grey-04-color: #E4EDFD;
$grey-05-color: #FBFBFB;
$white-color: #FFFFFF;
$primary-color: #3369F3;
